In [3]:
#to read the file

import os
import pandas as pd 
import numpy as np

In [2]:
os.chdir("E:\\INSOFE\\Big data and hadoop\\use cases\\uber application\\SampleData")

In [11]:
file = pd.read_table("part-00000",sep= ',',header= None)

In [17]:
file.head()

            timestamp  latitute  longitude Baseval
0   12/1/2016 0:09:00   40.7635   -73.9793  B02512
1   12/1/2016 6:39:00   40.7228   -73.9829  B02512
2   12/1/2016 7:13:00   40.7259   -74.0083  B02512
3  12/1/2016 10:24:00   40.7807   -73.9557  B02512
4  12/1/2016 11:38:00   40.7188   -74.0105  B02512

In [16]:
file.columns=['timestamp','latitute','longitude','Baseval']

In [19]:
f1 = file['latitute'].values
f2 = file['longitude'].values

In [22]:
X = np.matrix(zip(f1,f2))

In [44]:
samp = file[['latitute','longitude']]

In [45]:
samp = np.array(samp)

In [46]:
samp

array([[ 40.7635, -73.9793],
       [ 40.7228, -73.9829],
       [ 40.7259, -74.0083],
       ...,
       [ 40.7462, -73.9904],
       [ 40.6463, -73.7895],
       [ 40.7386, -73.9935]])

In [49]:
from sklearn.cluster import KMeans

In [54]:
KMeans_model = KMeans(n_clusters=2,random_state=0)

In [55]:
KMeans_model.fit(samp)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=0, tol=0.0001, verbose=0)

In [53]:
 KMeans_model= []
for i in range(2,20):
    KMeans_model =KMeans(n_clusters=i,random_state=0).fit(samp)
    KMeans_model.append(KMeans_model)
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19