In [4]:
records = (('science', 'sravan' , 20),('maths','harsha',30),('data','vinod',40))

In [5]:
records

(('science', 'sravan', 20), ('maths', 'harsha', 30), ('data', 'vinod', 40))

In [11]:
sorted(records,key = lambda x : (x[2],x[1]))

[('science', 'sravan', 20), ('maths', 'harsha', 30), ('data', 'vinod', 40)]

In [12]:
sorted(records)

[('data', 'vinod', 40), ('maths', 'harsha', 30), ('science', 'sravan', 20)]

In [13]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [14]:
fruits.sort()

In [24]:
fruits.append('mango')

In [32]:
fruits

['apple', 'apple', 'banana', 'banana']

In [34]:
sorted(fruits)

['apple', 'apple', 'banana', 'banana', 'orange']

In [36]:
fruits.index('apple')

1

In [37]:
import pandas as pd
import numpy as np

In [46]:
rec =pd.DataFrame(data= list(records),columns=['dept','name','salary'])

In [50]:
rec

      dept    name  salary
0  science  sravan      20
1    maths  harsha      30
2     data   vinod      40

In [132]:
rec.sort_values(by=['dept','name'])

      dept    name  salary
2     data   vinod      40
1    maths  harsha      30
0  science  sravan      20

In [57]:
reco = list(records)

In [62]:
reco[1]= ('mathematics','harshavardhan','35')

In [63]:
reco

[('science', 'sravan', 20),
 ('mathematics', 'harshavardhan', '35'),
 ('data', 'vinod', 40)]

In [82]:
new = ([1,2,3],{4:'sravan'},{2:'krithi'})

In [83]:
new

([1, 2, 3], {4: 'sravan'}, {2: 'krithi'})

In [88]:
new[1]['sravan']

KeyError: 'sravan'

In [93]:
orders = [1,2]

In [94]:
orders

[1, 2]

In [133]:
z = [('sravan','a',20), ('harsha','b',30), ('imtiyaz','c',50),('harsha','d',40),('sravan', 'a', 30)]

In [134]:
zrec =pd.DataFrame(data= z,columns=['dept','name','salary'])

In [139]:
zrec.sort_values(by = ['salary'],ascending=False)

      dept name  salary
2  imtiyaz    c      50
3   harsha    d      40
1   harsha    b      30
4   sravan    a      30
0   sravan    a      20

In [108]:
z

[('sravan', 'a', 20), ('harsha', 'b', 30), ('imtiyaz', 'c', 50)]

In [120]:
z.sort()

In [121]:
z

[('harsha', 'b', 30),
 ('harsha', 'd', 40),
 ('imtiyaz', 'c', 50),
 ('sravan', 'a', 20),
 ('sravan', 'a', 30)]

In [119]:
sorted(z,key = lambda x: (x[0],x[1]))

[('harsha', 'b', 30),
 ('harsha', 'd', 40),
 ('imtiyaz', 'c', 50),
 ('sravan', 'a', 20),
 ('sravan', 'a', 30)]

In [125]:
import sys
sys.stdout.write(99)

AttributeError: 'int' object has no attribute 'decode'

In [128]:
sys.stdout.write(helloworld)

NameError: name 'helloworld' is not defined

In [149]:
def junta(t,n):
    a = ()
    b = ()
    d =()
    while len(t)>0: 
        minimo = t[0]  
    for x in t: 
        if x < minimo:
            minimo = x
    a = a + (minimo,)
    minimo_index = t.index(minimo)
    t = t[:minimo_index] + t[minimo_index+1:]
    while len(n)>0:
        minimo2 = n[0]  
    for y in n: 
        if y < minimo2:
            minimo2 = y
    b = b + (minimo2,)
    minimo2_index = n.index(minimo2)
    n = n[:minimo2_index] + n[minimo2_index+1:]
    c = a + b
    while len(c)>0:
        minimo3 = c[0]  
    for z in c: 
        if z < minimo3:
            minimo3 = z
    d = d + (minimo3,)
    minimo3_index = c.index(minimo3)
    c = c[:minimo3_index] + c[minimo3_index+1:]
    return d

In [152]:
par = junta('maths','science')

KeyboardInterrupt:

In [12]:
arr = [[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 10, 11],
       [12, 13, 14, 15]]

In [13]:
for i in range (0,4):
    print(arr[i].pop())

4
7
11
15

In [14]:
def f(i, values = []):
    values.append(i)
    print (values)
    return values

In [17]:
fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']

In [18]:
fruit_list1[:]

['Apple', 'Berry', 'Cherry', 'Papaya']

In [24]:
fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']
fruit_list2 = fruit_list1
fruit_list3 = fruit_list1[:]

fruit_list2[0] = 'Guava'
fruit_list3[1] = 'Kiwi'

sum = 0
for ls in (fruit_list1, fruit_list2, fruit_list3):
    if ls[0] == 'Guava':
        sum += 1
    if ls[1] == 'Kiwi':
        sum += 20

print (sum)

22

In [26]:
myset = {'hi what re dng'}

In [36]:
myset ={1,2,8,6,7}

In [37]:
myset.pop()

1

In [45]:
kl = [1,2,3,4,5]

In [51]:
kl.pop()

5

In [53]:
kl.insert(4,5)

In [54]:
kl

[1, 2, 3, 4, 5]