In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir("E:\\AV\\lom")

In [3]:
train = pd.read_csv("train\\train.csv")
campaign_data = pd.read_csv("train\\campaign_data.csv")

In [4]:
test = pd.read_csv("test\\test.csv")

In [5]:
train.head(2)

          id  user_id  campaign_id         send_date  is_open  is_click
0   42_14051    14051           42  01-09-2017 19:55        0         0
1  52_134438   134438           52  02-11-2017 12:53        0         0

In [10]:
campaign_data.head(2)

,campaign_id,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url
0,29,Newsletter,67,61,12,3,"Dear AVians,\n \nWe are shaping up a superb da...",Sneak Peek: A look at the emerging data scienc...,http://r.newsletters.analyticsvidhya.com/7um44...
1,30,Upcoming Events,18,14,7,1,"Dear AVians,\n \nAre your eager to know what a...",[July] Data Science Expert Meetups & Competiti...,http://r.newsletters.analyticsvidhya.com/7up0e...

In [11]:
test.head(2)

          id  campaign_id  user_id         send_date
0  63_122715           63   122715  01-02-2018 22:35
1   56_76206           56    76206  02-01-2018 08:15

In [12]:
campaign_data.email_body[0]

'Dear AVians,\n \nWe are shaping up a superb data science ecosystem brick by brick. The community is thriving with events and interactions. I can see a new world where data science knowledge is getting created through our community interactions.\n \nOur entire team extremely excited about our first annual conference - DataHack Summit 2017. The conference is shaping up superbly - this would be first of its kind conference with hands-on practitioners sharing their knowledge, challenges and bleeding edge work. A few awesome sessions & workshops have been announced and there are many more to come. Book your early-bird spot before they finish. If you know/are a data science leader and have done really awesome work - reach out to us and we can provide you India\x92s largest platform for data science practitioners.\n \nNow, coming to last month, I am feeling proud to announce that our dedicated volunteers now run meet up programs across 5 cities - check out our upcoming Expert Meet-ups. These meetups are meant for practitioners and are invite-only, hands-on problem-solving sessions.\n \nIn addition to this, you might have noticed some top notch articles on deep learning like Introduction to GANs and coding Neural Networks from scratch in R & Python.\n \nWe constantly bring various jobs vacancies across India - so to help you with your career beginnings/ change, keep a tab on the latest openings here.\n \nSo, see you all very soon in this new world emerging!\n \nRegards,\n \nKunal Jain'

In [10]:
train_merge =pd.merge(train,campaign_data,on="campaign_id")

In [12]:
print(train.shape)
print(campaign_data.shape)
print(train_merge.shape)

(1023191, 6)
(52, 9)
(1023191, 14)

In [14]:
train_merge.to_csv("mergedtrain.csv",index= False)

In [15]:
train_merge.email_body[0]

'September Newsletter\n \nDear AVians,\n \nWe are getting inches close to our Flagship annual conference - DataHack Summit 2017 and guess what - we are incredibly excited (and a little nervous) to host this Summit. We will leave no stone unturned to make sure that we get the best data science practitioners and thought leaders on the Stage. Dr. Kirk D. Borne has kindly agreed to address our audience in form of a Keynote. We are sure that the mesmerizing experience of the conference will leave you asking for more. Register your tickets today to make sure you book them before the prices go up (ssh - check out the offer below for our subscribers)\n \nComing up in September is a cutting edge contest on Click predictions - make sure you keep your RAMs and SSDs on your machines fixed! For the writers, Blogathon V is live along with the skill tests.As usual, we are looking forward to meet the winners. If you want to see us in person, check out the AV LearnUps happening across Delhi, Bengaluru, Chennai & Hyderabad.  \n \nOn the learning front, make sure you check out the blogs on Deep Learning Architectures, CatBoost, Speech Analysis & Data Scientist\x92s way to find number of chairs in room. Be on the look out for some new exciting articles coming your way in September.\n \nTill then - keep learning & evolving (hopefully faster than machines!) \n \nRegards,\n \nKunal Jain'

In [16]:
train_merge.email_body[1]

'September Newsletter\n \nDear AVians,\n \nWe are getting inches close to our Flagship annual conference - DataHack Summit 2017 and guess what - we are incredibly excited (and a little nervous) to host this Summit. We will leave no stone unturned to make sure that we get the best data science practitioners and thought leaders on the Stage. Dr. Kirk D. Borne has kindly agreed to address our audience in form of a Keynote. We are sure that the mesmerizing experience of the conference will leave you asking for more. Register your tickets today to make sure you book them before the prices go up (ssh - check out the offer below for our subscribers)\n \nComing up in September is a cutting edge contest on Click predictions - make sure you keep your RAMs and SSDs on your machines fixed! For the writers, Blogathon V is live along with the skill tests.As usual, we are looking forward to meet the winners. If you want to see us in person, check out the AV LearnUps happening across Delhi, Bengaluru, Chennai & Hyderabad.  \n \nOn the learning front, make sure you check out the blogs on Deep Learning Architectures, CatBoost, Speech Analysis & Data Scientist\x92s way to find number of chairs in room. Be on the look out for some new exciting articles coming your way in September.\n \nTill then - keep learning & evolving (hopefully faster than machines!) \n \nRegards,\n \nKunal Jain'

In [27]:
pd.crosstab(index=campaign_data['campaign_id'],columns= )

ValueError: array length 8 does not match index length 52

In [26]:
cols =campaign_data.columns[1:9]