In [1]:
print ("hello")

hello

In [2]:
print (3/2)

1.5

In [3]:
a = "python"

In [4]:
a

'python'

In [6]:
print (a)

python

In [9]:
print("hello\world")

hello\world

In [12]:
b = "hello\nword"

In [13]:
print (b)

hello
word

In [14]:
# list in  another list
a= [1, 2, 3, 4, 5,'a','b', 3/2, 'helloworld', ['look', 'another', 'list', 'in a list']]

In [15]:
print (a)

[1, 2, 3, 4, 5, 'a', 'b', 1.5, 'helloworld', ['look', 'another', 'list', 'in a list']]

In [17]:
4 ==4
4!=43

True

In [23]:
print (1 and 1)

print (True + True + False)
print (not 2)
print(10%3)

1
2
False
1

In [29]:
x=2
y=3
print (x**y)
print(pow(x,y))

8
8

In [34]:
name = input (prompt= "enter your name:")
print ('your name is :', name)

enter your name:Siva Sravan
your name is : Siva Sravan

In [36]:
x=4
y=3
c=4
x=y
y=c
print(x)
print(y)

3
4

In [41]:
x=4
y=3

# for swapping the variables

x,y = y, x
print (x,y)

3 4

In [44]:
d= 2.555555356
print ('value of name is {}, value of x is {}'. format (name,x))
print ('value of name is {}, value of d is {:.2f}'. format (name,d))

value of name is Siva Sravan, value of x is 3
value of name is Siva Sravan, value of d is 2.56

In [51]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [52]:
# another way of using loop(not for loop):

a = list(range(1,6))
a

[1, 2, 3, 4, 5]

In [56]:
# another way of using loop(not for loop):

#The below concatination  wont work in python
#a = list(range(1,6))
#a+1

# we can use for loop here

a = list(range(1,6))
for x in a:
    print(x+1)

2
3
4
5
6

In [63]:
#to display the first hundred multiples of 3 (not the multiples of 3 in 100 !!!)

a = list(range(1,100))
for x in a:
    print(x*3,end=" ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198 201 204 207 210 213 216 219 222 225 228 231 234 237 240 243 246 249 252 255 258 261 264 267 270 273 276 279 282 285 288 291 294 297

In [62]:
# displaying the multiple of 3 with 100

for i in range(1,101):     
    if i%3==0:
        print(i,end=',')

3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,75,78,81,84,87,90,93,96,99,

In [74]:
printing the square of  the numbers and sum of numbers


a = [[1,2,3],[4,5,6]]
for x in a:
    print(x)
    for y in x:
        print(y*y)
    print(sum(x))

[1, 2, 3]
1
4
9
6
[4, 5, 6]
16
25
36
15

## print the sum of first 1000 even fibonacci numbers

In [ ]:
a = list(range(1,1000))
for x in a:
    if x%2==0:
        print(x,end =" ")