In [4]:
X= range(20)
print (X)

range(0, 20)

In [5]:
X

range(0, 20)

In [9]:
a =list(X)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
b= list(range(10,50,5))
b

[10, 15, 20, 25, 30, 35, 40, 45]

In [18]:
b[0:10:2]

[10, 20, 30, 40]

In [24]:
c=list.reverse(b)
c

In [22]:
c

In [25]:
b

[10, 15, 20, 25, 30, 35, 40, 45]

In [26]:
b[3]=80

In [27]:
b

[10, 15, 20, 80, 30, 35, 40, 45]

In [30]:
#to append a single value to the list

b.append(12)
b

[10, 15, 20, 80, 30, 35, 40, 45, 12, 12, 12]

In [33]:
#to add multiple values

b.extend([11,12,15])
b

[10, 15, 20, 80, 30, 35, 40, 45, 12, 12, 12, 11, 12, 15]

In [34]:
#using for loop

animals =['cat','dog','monkey']
for animals in animals:
    print(animals)

cat
dog
monkey

In [57]:
animals =['cat','dog','monkey']
for idx,an in animals.enumerate():
    print('index %d: %s' % (idx,an))

AttributeError: 'list' object has no attribute 'enumerate'

In [50]:
#dictionary

d ={'person':2,'cat': 4}
d

{'cat': 4, 'person': 2}

In [51]:
print('cat'in d)

True

In [ ]:
#import pandas