In [1]:
import pandas as pd
import numpy as np
import nltk
import os
from bs4 import BeautifulSoup

In [3]:
#changing the directory 
os.chdir("E:\\INSOFE\\text mining\\movie_reviews_sentiment_analysis")

In [4]:
#reading the data
train = pd.read_csv("labeledTrainData.tsv", header = 0, delimiter="\t",quoting=3)
test  = pd.read_csv("testData.tsv",header = 0,delimiter="\t",quoting = 3)

In [5]:
train.head(5)

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

In [6]:
final_review = BeautifulSoup(train['review'][0]).get_text()

E:\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [44]:
final_review

'"With all this stuff going down at the moment with MJ i\'ve started listening to his music, watching the odd documentary here and there, watched The Wiz and watched Moonwalker again. Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent. Moonwalker is part biography, part feature film which i remember going to see at the cinema when it was originally released. Some of it has subtle messages about MJ\'s feeling towards the press and also the obvious message of drugs are bad m\'kay.Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring. Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him.The actual feature film bit when it finally starts is only on for 20 minutes or so excluding the Smooth Criminal sequence and Joe Pesci is convincing as a psychopathic all powerful drug lord. Why he wants MJ dead so bad is beyond me. Because MJ overheard his plans? Nah, Joe Pesci\'s character ranted that he wanted people to know it is he who is supplying drugs etc so i dunno, maybe he just hates MJ\'s music.Lots of cool things in this like MJ turning into a car and a robot and the whole Speed Demon sequence. Also, the director must have had the patience of a saint when it came to filming the kiddy Bad sequence as usually directors hate working with one kid let alone a whole bunch of them performing a complex dance scene.Bottom line, this movie is for people who like MJ on one level or another (which i think is most people). If not, then stay away. It does try and give off a wholesome message and ironically MJ\'s bestest buddy in this movie is a girl! Michael Jackson is truly one of the most talented people ever to grace this planet but is he guilty? Well, with all the attention i\'ve gave this subject....hmmm well i don\'t know because people can be different behind closed doors, i know this for a fact. He is either an extremely nice but stupid guy or one of the most sickest liars. I hope he is not the latter."'

In [7]:
final_reviews=[]
for i in range (0,len(train['review'])):
    if i%5000 == 0:
        print ("no.of rows reviews processed:",i)
    final_reviews.append(BeautifulSoup(train['review'][i]).get_text())

no.of rows reviews processed: 0

E:\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file E:\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

no.of rows reviews processed: 5000
no.of rows reviews processed: 10000
no.of rows reviews processed: 15000
no.of rows reviews processed: 20000

In [8]:
#converting the list in to data frame so that we can use it to the main train data frame
df_final_review = pd.DataFrame({'col' : final_reviews})

In [9]:
df_final_review['col'][1]

'"\\"The Classic War of the Worlds\\" by Timothy Hines is a very entertaining film that obviously goes to great effort and lengths to faithfully recreate H. G. Wells\' classic book. Mr. Hines succeeds in doing so. I, and those who watched his film with me, appreciated the fact that it was not the standard, predictable Hollywood fare that comes out every year, e.g. the Spielberg version with Tom Cruise that had only the slightest resemblance to the book. Obviously, everyone looks for different things in a movie. Those who envision themselves as amateur \\"critics\\" look only to criticize everything they can. Others rate a movie on more important bases,like being entertained, which is why most people never agree with the \\"critics\\". We enjoyed the effort Mr. Hines put into being faithful to H.G. Wells\' classic novel, and we found it to be very entertaining. This made it easy to overlook what the \\"critics\\" perceive to be its shortcomings."'

In [10]:
train['review']=df_final_review['col']

In [11]:
train['review'][1]

'"\\"The Classic War of the Worlds\\" by Timothy Hines is a very entertaining film that obviously goes to great effort and lengths to faithfully recreate H. G. Wells\' classic book. Mr. Hines succeeds in doing so. I, and those who watched his film with me, appreciated the fact that it was not the standard, predictable Hollywood fare that comes out every year, e.g. the Spielberg version with Tom Cruise that had only the slightest resemblance to the book. Obviously, everyone looks for different things in a movie. Those who envision themselves as amateur \\"critics\\" look only to criticize everything they can. Others rate a movie on more important bases,like being entertained, which is why most people never agree with the \\"critics\\". We enjoyed the effort Mr. Hines put into being faithful to H.G. Wells\' classic novel, and we found it to be very entertaining. This made it easy to overlook what the \\"critics\\" perceive to be its shortcomings."'

In [13]:
reviews = train['review'][1]

In [14]:
print(reviews.split(" "))

['"\\"The', 'Classic', 'War', 'of', 'the', 'Worlds\\"', 'by', 'Timothy', 'Hines', 'is', 'a', 'very', 'entertaining', 'film', 'that', 'obviously', 'goes', 'to', 'great', 'effort', 'and', 'lengths', 'to', 'faithfully', 'recreate', 'H.', 'G.', "Wells'", 'classic', 'book.', 'Mr.', 'Hines', 'succeeds', 'in', 'doing', 'so.', 'I,', 'and', 'those', 'who', 'watched', 'his', 'film', 'with', 'me,', 'appreciated', 'the', 'fact', 'that', 'it', 'was', 'not', 'the', 'standard,', 'predictable', 'Hollywood', 'fare', 'that', 'comes', 'out', 'every', 'year,', 'e.g.', 'the', 'Spielberg', 'version', 'with', 'Tom', 'Cruise', 'that', 'had', 'only', 'the', 'slightest', 'resemblance', 'to', 'the', 'book.', 'Obviously,', 'everyone', 'looks', 'for', 'different', 'things', 'in', 'a', 'movie.', 'Those', 'who', 'envision', 'themselves', 'as', 'amateur', '\\"critics\\"', 'look', 'only', 'to', 'criticize', 'everything', 'they', 'can.', 'Others', 'rate', 'a', 'movie', 'on', 'more', 'important', 'bases,like', 'being', 'entertained,', 'which', 'is', 'why', 'most', 'people', 'never', 'agree', 'with', 'the', '\\"critics\\".', 'We', 'enjoyed', 'the', 'effort', 'Mr.', 'Hines', 'put', 'into', 'being', 'faithful', 'to', 'H.G.', "Wells'", 'classic', 'novel,', 'and', 'we', 'found', 'it', 'to', 'be', 'very', 'entertaining.', 'This', 'made', 'it', 'easy', 'to', 'overlook', 'what', 'the', '\\"critics\\"', 'perceive', 'to', 'be', 'its', 'shortcomings."']

In [15]:
train.head()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

Feature Extraction

In [16]:
#word count
train['word_count'] = train['review'].apply(lambda x :len(str(x).split()))

In [17]:
train.head()

,id,sentiment,review,word_count
0,"""5814_8""",1,"""With all this stuff going down at the moment ...",425
1,"""2381_9""",1,"""\""The Classic War of the Worlds\"" by Timothy ...",158
2,"""7759_3""",0,"""The film starts with a manager (Nicholas Bell...",376
3,"""3630_4""",0,"""It must be assumed that those who praised thi...",375
4,"""9495_8""",1,"""Superbly trashy and wondrously unpretentious ...",367

In [18]:
#character Count
train['char_count'] = train['review'].str.len() # this includes spaces too

In [19]:
train.head()

,id,sentiment,review,word_count,char_count
0,"""5814_8""",1,"""With all this stuff going down at the moment ...",425,2256
1,"""2381_9""",1,"""\""The Classic War of the Worlds\"" by Timothy ...",158,948
2,"""7759_3""",0,"""The film starts with a manager (Nicholas Bell...",376,2439
3,"""3630_4""",0,"""It must be assumed that those who praised thi...",375,2223
4,"""9495_8""",1,"""Superbly trashy and wondrously unpretentious ...",367,2233

In [22]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [23]:
train['stop_words'] = train['review'].apply(lambda x: len([x for x in x.split() if x in stop]))
train.head()

,id,sentiment,review,word_count,char_count,stop_words
0,"""5814_8""",1,"""With all this stuff going down at the moment ...",425,2256,189
1,"""2381_9""",1,"""\""The Classic War of the Worlds\"" by Timothy ...",158,948,69
2,"""7759_3""",0,"""The film starts with a manager (Nicholas Bell...",376,2439,118
3,"""3630_4""",0,"""It must be assumed that those who praised thi...",375,2223,164
4,"""9495_8""",1,"""Superbly trashy and wondrously unpretentious ...",367,2233,132

In [24]:
train['upper_case'] = train['review'].apply(lambda x : len([x for x in x.split() if x.isupper()]))

In [25]:
train.head()

,id,sentiment,review,word_count,char_count,stop_words,upper_case
0,"""5814_8""",1,"""With all this stuff going down at the moment ...",425,2256,189,10
1,"""2381_9""",1,"""\""The Classic War of the Worlds\"" by Timothy ...",158,948,69,4
2,"""7759_3""",0,"""The film starts with a manager (Nicholas Bell...",376,2439,118,4
3,"""3630_4""",0,"""It must be assumed that those who praised thi...",375,2223,164,2
4,"""9495_8""",1,"""Superbly trashy and wondrously unpretentious ...",367,2233,132,3

In [26]:
#remove the stop words
train['review'] = train['review'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [27]:
train.head()

,id,sentiment,review,word_count,char_count,stop_words,upper_case
0,"""5814_8""",1,"""With stuff going moment MJ i've started liste...",425,2256,189,10
1,"""2381_9""",1,"""\""The Classic War Worlds\"" Timothy Hines ente...",158,948,69,4
2,"""7759_3""",0,"""The film starts manager (Nicholas Bell) givin...",376,2439,118,4
3,"""3630_4""",0,"""It must assumed praised film (\""the greatest ...",375,2223,164,2
4,"""9495_8""",1,"""Superbly trashy wondrously unpretentious 80's...",367,2233,132,3

In [30]:
freq = pd.Series(' '.join(train['review']).split()).value_counts()

In [35]:
freq[:10]

I         61921
The       33094
movie     30483
film      27392
one       20679
like      18133
would     11921
good      11431
really    10813
It        10808
dtype: int64

In [39]:
from textblob import Word
TextBlob(train['review'][0]).ngrams(2)

ModuleNotFoundError: No module named 'textblob'