In [26]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [27]:
import os

In [28]:
os.chdir("E:\\INSOFE\\MiTH")

In [29]:
train = pd.read_csv("train.csv",encoding="ISO-8859-1")
test = pd.read_csv("test.csv",encoding="ISO-8859-1")

In [30]:
train.head(3)

,VehicleID,DataCollectedDate,NameOfTheVehicle,SellerType,OfferType,Price,VehicleType,YearOfVehicleRegistration,GearBoxType,PowerOfTheEngine,ModelOfTheVehicle,DistranceTravelled,MonthOfVehicleRegistration,TypeOfTheFuelUsed,BrandOfTheVehicle,IsDamageRepaired,DateOfAdCreation,NumberOfPictures,ZipCode,DateOfAdLastSeen
0,1001,29-03-2016 21:40,MINI_Mini_Cooper_beige,private,offer,3900,Small Car,2003,manual,116,cooper,150000.0,2,petrol,mini,No,29-03-2016 00:00,0,31319,31-03-2016 15:17
1,1002,26-03-2016 20:50,Smart_smart_&_pure,private,offer,1150,Small Car,2000,manual,45,fortwo,150000.0,11,petrol,smart,No,26-03-2016 00:00,0,34260,26-03-2016 20:50
2,1003,25-03-2016 19:58,Volkswagen_Multivan_Highline_Autm.,private,offer,18750,bus,2005,automatic,174,transporter,150000.0,7,diesel,volkswagen,No,25-03-2016 00:00,0,80469,07-04-2016 03:16

In [31]:
train.head(3)

,VehicleID,DataCollectedDate,NameOfTheVehicle,SellerType,OfferType,Price,VehicleType,YearOfVehicleRegistration,GearBoxType,PowerOfTheEngine,ModelOfTheVehicle,DistranceTravelled,MonthOfVehicleRegistration,TypeOfTheFuelUsed,BrandOfTheVehicle,IsDamageRepaired,DateOfAdCreation,NumberOfPictures,ZipCode,DateOfAdLastSeen
0,1001,29-03-2016 21:40,MINI_Mini_Cooper_beige,private,offer,3900,Small Car,2003,manual,116,cooper,150000.0,2,petrol,mini,No,29-03-2016 00:00,0,31319,31-03-2016 15:17
1,1002,26-03-2016 20:50,Smart_smart_&_pure,private,offer,1150,Small Car,2000,manual,45,fortwo,150000.0,11,petrol,smart,No,26-03-2016 00:00,0,34260,26-03-2016 20:50
2,1003,25-03-2016 19:58,Volkswagen_Multivan_Highline_Autm.,private,offer,18750,bus,2005,automatic,174,transporter,150000.0,7,diesel,volkswagen,No,25-03-2016 00:00,0,80469,07-04-2016 03:16

In [32]:
#removing some variables
train.drop('VehicleID',axis=1,inplace=True)
train.drop('DataCollectedDate',axis=1,inplace=True)
train.drop('NameOfTheVehicle',axis=1,inplace=True)
train.drop('SellerType',axis=1,inplace=True)
train.drop('OfferType',axis=1,inplace=True)
train.drop('YearOfVehicleRegistration',axis=1,inplace=True)
train.drop('BrandOfTheVehicle',axis=1,inplace=True)
#train.drop('IsDamageRepaired',axis=1,inplace=True)
train.drop('DateOfAdCreation',axis=1,inplace=True)
train.drop('NumberOfPictures',axis=1,inplace=True)
train.drop('ZipCode',axis=1,inplace=True)
train.drop('DateOfAdLastSeen',axis=1,inplace=True)

In [33]:
train.head(2)

,Price,VehicleType,GearBoxType,PowerOfTheEngine,ModelOfTheVehicle,DistranceTravelled,MonthOfVehicleRegistration,TypeOfTheFuelUsed,IsDamageRepaired
0,3900,Small Car,manual,116,cooper,150000.0,2,petrol,No
1,1150,Small Car,manual,45,fortwo,150000.0,11,petrol,No

In [34]:
train.IsDamageRepaired.unique()

array(['No', nan, 'Yes'], dtype=object)

In [35]:
train.isnull().sum()

Price                            0
VehicleType                    927
GearBoxType                   1717
PowerOfTheEngine                 0
ModelOfTheVehicle                0
DistranceTravelled               0
MonthOfVehicleRegistration       0
TypeOfTheFuelUsed             2170
IsDamageRepaired              7603
dtype: int64

In [37]:
#imputing missing values
train.dropna(axis=1,inplace=True)

In [38]:
train.shape

(64238, 5)

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [40]:
model = LinearRegression()